# **Q-1 Write a Python program to print "Hello Python".**

In [1]:
print('Hello Python')

Hello Python

# **Q-2 Write a Python program to do arithmetical operations addition and division.**

In [2]:
a = 33
b = 36

print(f'Addition :{a+b}')
print(f'Division :{a/b}')

Addition :69
Division :0.9166666666666666

# **Q-3 Write a Python program to find the area of a triangle.**

In [3]:
height = float(input('Enter triangle Hight'))
base = float(input('Enter triangle Base'))

area = (1/2)*height*base

print(area)

ValueError: could not convert string to float: ''

# **Q-4 Write a Python program to swap two variables.**

In [ ]:
a = 4
b = 5
print(f'this is original no. a-> {a} b-> {b}')

temp = a
a = b
b = temp

print(f'this is swaped no. a-> b :{a}')
print(f'this is swaped no. b-> a :{b}')

this is original no. a-> 4 b-> 5
this is swaped no. a-> b :5
this is swaped no. b-> a :4

# **Q-5 Write a Python program to generate a random number.**

In [ ]:
import random

print(f'Random int {random.randint(1,130)}')

Random int 17

# **Q-6 Write a Python program to convert kilometers to miles**

In [ ]:
# Conversion factor: 1 kilometer = 0.621371 miles

kilo = float(input('Enter the value to convert Kill -> Miles'))
miles = kilo * .621371
print(f'{kilo} kilometers is equal to : {miles}')

22.0 kilometers is equal to : 13.670162

# **Q-7 Write a Python program to convert Celsius to Fahrenheit**

In [ ]:
# Conversion formula: Fahrenheit = (Celsius * 9/5) + 32

celsius = float(input('enter a value to convert into Celsius'))

fahre_1 = (celsius * 9/5) + 32

print(f'{celsius} celsius is : {fahre_1} Fahrenheit')

46.0 celsius is : 114.8 Fahrenheit

# **Q-8 Write a Python program to display calendar.**

In [ ]:
import calendar

year = int(input('enter year'))
month = int(input('enter month'))

cal = calendar.month(year, month)
print(cal)

   February 2026
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28

# **Q-9 Write a Python program to solve quadratic equation**

# **Q-10 Write a Python program to swap two variables without temp variable.**

In [ ]:
a = 5
b = 3

print(f'original a : {a}, b : {b}')
a , b = b , a

print(f'original b -> a, a : {a}')
print(f'original a -> b, b : {b}')

original a : 5, b : 3
original b -> a, a : 3
original a -> b, b : 5

# **Q-11 Write a Python Program to Check if a Number is Positive, Negative or Zero.**

In [ ]:
no = float(input('enter a no.'))

if no == 0:
    print(f'given no. : {no} is Zero')

elif no > 0 :
    print(f'given no. : {no} is Positive')

else:
    print(f'given no. : {no} is Negative')

given no. : 45.0 is Positive

# **Q-12 Write a Python program to check if a number is Odd or Even**

In [ ]:
a  = int(input('enter a no. '))

if a%2 == 0:
    print(f'Given No. {a} is Even')

else:
    print(f'Given No. {a} is Odd')

Given No. -88 is Even

# **Q-13 Write a Python Program to Check Leap Year.**

In [ ]:
year = int(input("Enter a year: "))

# divided by 100 means century year (ending with 00)
# century year divided by 400 is leap year


if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))
# not divided by 100 means not a century year
# year divided by 4 is a leap year

elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))
# if not divided by both 400 (century year) and 4 (not century year)
# year is not leap year

else:
    print("{0} is not a leap year".format(year))

2088 is a leap year

# **Q-14 Write a python program to check prime Number**

### Prime Numbers:
### a prime no. is whole number that cannot be evenly divided by any other number except for 1 and itself for example 2, 3, 5, 7, 11 and 13 are prime no because they cannot be divided by any other positive integer except for 1 and their own value.

In [ ]:
num = int(input('enter a no.'))

if num == 1:
    print('no is not a prime no.')

elif num >1:
    for i in range(2, num):
        if  num % i == 0:
            ans = True

        else:
            ans = False

if ans:
    print(f'Given Number : {num}, Is Not A Prime Number')

else:
    print(f'Given Number : {num}, Is A Prime Number')

Given Number : 77, Is A Prime Number

# **Q-15 Write a python program to print all prime numbers in an given interval**

In [ ]:
# exaple 1-10
list = []
for num in range(2,10+1):
        if i%num == 0:
            pass